#formularioAssine {
    background-color: #00303f;
}

#textoAssine {
    background-color: #d4d4d4;
}

#textoAssine h1 {
    color: #00303f;
}

#textoAssine p {
    color: #00303f;
}

#textoAssine ul {
    color: #003847;
}