

.rowDiv{
    display:flex;
    place-content: center;
  }
  .divText{
    width: 100%;
    text-align: center;
    text-align: -webkit-center;
    margin: 10px 0 20px 0px;
    align-self: center;
  }
  .iconeIntro{
    width: 363px;
    padding-top: 13px;
  }
  .title{
    color:#00303f;
    font-size: 2.5rem;
   
  }
  .text{
    color:#00303f;
    font-weight: bold;
  }
  .diversidade{
    background-color: #00303f;
    text-align: -webkit-center;
    padding-bottom: 25px;
  
  }

  .title2{
    color:#d4d4d4;
    font-size: 2.5rem;
    border-bottom: 9px solid #d4d4d4;
    width: fit-content;
  }
  .equip{
    text-align: -webkit-center;
    padding-top: 60px;
  }
  .name{
    display: block;
    font-weight: bold;
    color: #00303f;
  }
  .cargo{
    font-size: 0.8rem;
  }
  .imagem{
    width: 100px;
  }
  .portrait{
    max-width: 300px;
    margin: 0px 5px 5px 5px;
    min-width: 300px;
  }
  .allPortrait{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .icone{
    width:429px;
    margin: 0px 20px 0px 20px;
  }
  .gender{
    margin-right: 160px;
    width: 261px;
  }
 