@import 'header.css';
@import 'footer.css';
@import 'home.css';
@import 'carrossel.css';
@import 'publicacoes.css';

:root {
  --background-color: #d4d4d4;
  --menu-text-color: #3d9191;
  --primary:  #c3c5c6;
  --secondary: #002939;
}
