@import 'header.css';
@import 'footer.css';
@import 'home.css';
@import 'carrossel.css';
@import 'equipe.css';
@import 'publicacoes.css';
@import 'category.css';
@import 'apresentacao.css';
@import 'fale-conosco.css';
@import 'category.css';
@import 'assine.css';

:root {
  --background-color: #d4d4d4;
  --menu-text-color: #3d9191;
  --primary:  #c3c5c6;
  --secondary: #002939;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  font-family: 'Ubuntu', 'Public Sans', sans-serif;
  background-color: var(--background-color);
  color: var(--secondary);
  overflow-x: hidden;
  background:var(--background-color);
}

.background-reverso {
  background-color: #00303f;
}

.font-clara {
  color: #d4d4d4;
}

.fit-thumbnail {
  object-fit: cover;
}
